.error{
    color: rgb(221, 4, 4);
    font-style: italic;
}
.image-container img{
    width: 200px;
}
.images-collection {
    display: grid;
    padding: 0 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.77rem 1rem;
}

.loading-gallery{
    text-align: center;
    color: #fff;
    font-size: larger;
}
#popup-root .popup-content{
    padding: 50px;
}
#popup-root .popup-content input {
    color: black;
}
.upload-success{
    color: rgb(2, 98, 2);
}
.refresh-upload{
    color: rgba(150, 2, 2, 0.574);
    font-size: smaller;
}
